.project-list {
  list-style: none;
  padding: 0;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-list-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #568c8c;
  color: #fff;
}

.project-list-item {
  background-color: #ffffff;
  margin: 15px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-name a {
  text-decoration: none;
  color: #568c8c;
  transition: color 0.3s ease;
}

.project-name a:hover {
  color: #83d7d7;
}

.project-description {
  color: #555;
  margin-top: 10px;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
}
